.droppable {
    min-height: 600px;
    max-height: 800px;
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid lightgray; 

}

.draggable {
    margin: 0.5em;
    background-color: linen;
    cursor: pointer;
    text-align: center;
    width: 12em
}


.dragover {
    background: skyblue;
    transition: ease-in 0.5s;
}

.exercise-list
{
    margin: 1.2em;
    height: 600px;
    position: relative;
}

.exercise-list li
{
    padding: 1em;
}

.exercise-list li:hover {
    background: skyblue;
    cursor: pointer;
}

.exercise-selected {
    background: skyblue;
    cursor: pointer;
}

.exercises-toolbar div:first-child {
    margin: 0 1em;
}

.exercises-toolbar {
    cursor: pointer;
}

.exercises-toolbar:hover {
    text-decoration: underline;
}

.exercise-pager {
    width: 100%;
    position:absolute;
    bottom: -15px;
    left:-5px
}

.workout 
{
    margin: 1em;
    width: 20em;
    height: 10em;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.workout:hover
{
    background-color: skyblue;
    width: 22em;
    height: 12em;
    transition: ease-in 0.1s;
}

.modal{
    display: block;
    visibility: hidden;
}

.modal-show
{
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.8);
    transition: background-color 0.2s linear;
}

.modal-content 
{
    opacity: 0; 
}

.modal-show .modal-content 
{
    opacity: 1; 
    transition: 0.2s linear; 
}

.overlay 
{
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    background-color: rgba(128,128,128, 0.8);
    width: 100%;
    height: 0%; 
    overflow: hidden;
}

.overlay-show
{
    height: 100%; 
    transition: ease-in 0.25s;
}

.overlay>div
{
    background-color: white;
    height:92%;
    width:98%; 
}

.overlay .close
{
    color: gray;
    margin: -2px;
    cursor:pointer;
}

.clickable 
{
    cursor:pointer;
}

.debug {
    background-color: red;
}