.container-fluid {
    height: 100vh;
}

.droppable {
    margin: 1em;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid lightgray;

}

.draggable {
    margin: 0.5em;
    background-color: linen;
    cursor: move;
    text-align: center;
    width: 12em
}


.dragover {
    background: skyblue;
    transition: ease-in 0.5s;
}

.exercise-bodyparts
{
    height: 70%;  
}

.exercise-no-bodyparts
{
    color:silver;
}

.exercise-list
{
    margin: 1.2em;
    height: 90%;  
}

.exercise-list li
{
    padding: 1em;
}

.exercise-list li:hover {
    background: skyblue;
    cursor: pointer;
}

.exercise-selected {
    background: skyblue;
    cursor: pointer;
}

.exercises-toolbar div:first-child {
    margin: 0 1em;
}

.exercises-toolbar {
    cursor: pointer;
}

.exercises-toolbar:hover {
    text-decoration: underline;
}

.exercise-pager {
    width: 100%;
}

.workout
{
    margin: 1em;
    width: 20em;
    min-height: 10em;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.workout:hover
{
    background-color: skyblue;
    width: 22em;
    min-height: 12em;
    transition: ease-in 0.1s;
}

.workout-form-header
{
    height: 10%;
    border-bottom: silver 1px solid;
}

.workout-form-body
{
    height: 90%;
}

.workout-exercise-list
{
    height: inherit;
}

.workout-exercise
{
    width:300px;
    padding:0.8em;
    margin: 0.4em;
    border-style: solid;
    border-color: silver;
    border-width: 0px 1px 1px 1px;
}

.workout-exercise>span:first-of-type
{
    cursor:move;
}

.workout-exercise-remove
{
    margin-left: 1em;
    cursor: pointer;
}

.modal
{
    display: block;
    visibility: hidden;
}

.modal-show
{
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.8);
    transition: background-color 0.2s linear;
}

.modal-content
{
    opacity: 0;
}

.modal-show .modal-content
{
    opacity: 1;
    transition: 0.2s linear;
}

.overlay
{
    position: absolute;
    left:0;
    top:0;
    z-index: 10;
    background-color: rgba(128,128,128, 0.8);
    width: 100%;
    height: 0%;
    overflow: hidden;
}

.overlay-show
{
    height: 100%;
    transition: ease-in 0.25s;
}

.overlay-inner
{
    background-color: white;
    height:92%;
    width:98%;
}

.overlay .close
{
    color: gray;
    margin-top: 5px;
    margin-right: 5px;
    cursor:pointer;
}

.clickable
{
    cursor:pointer;
}

.debug {
    background-color: red;
}

.debug2 {
    background-color: blue;
}
